<div *ngIf="loading">
    <mat-spinner class="center"></mat-spinner>
</div>
<div *ngIf="!loading && !toOrder && !finishedOrder" class="container" @fadeleft>
    <div>
        <section class="h-100 h-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <div class="card card-registration card-registration-2 shadow" style="border-radius: 25px;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-8">
                                        <div class="p-5">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h1 class="fw-bold mb-0 text-black" (click)="switch()">Moje objednávka
                                                    <i *ngIf="!expanded&&cart.length!=0" class="bi"
                                                        [class.bi-arrow-down-circle]="!hover"
                                                        [class.bi-arrow-down-circle-fill]="hover"
                                                        (mouseenter)="switchHover()" (mouseleave)="switchHover()"></i>
                                                    <i *ngIf="expanded&&cart.length!=0" class="bi"
                                                        [class.bi-arrow-up-circle]="hover"
                                                        [class.bi-arrow-up-circle-fill]="!hover"
                                                        (mouseenter)="switchHover()" (mouseleave)="switchHover()"></i>
                                                </h1>

                                            </div>
                                            <div class="mt-0">
                                                <h2 *ngIf="totalPrize!=null && !expanded" class="text-muted">je za
                                                    {{totalPrize}} Kč</h2>
                                                <div *ngIf="cart.length!=0 && !expanded" class="center">
                                                    <button class="btn btn-primary" (click)="toOrderForm()">
                                                        K objednání</button>
                                                </div>
                                            </div>

                                            <h2 *ngIf="cart.length==0" class="text-muted">Zatím neobsahuje žádné
                                                položky. <i class="bi bi-emoji-frown"></i></h2>

                                            <div *ngIf="expanded" @cart>
                                                <div *ngFor="let p of cart" class="cart-item">
                                                    <hr class="my-4">
                                                    <div
                                                        class="row mb-4 d-flex justify-content-between align-items-center">
                                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                                            <img src={{p.url}} class="img-fluid rounded-3"
                                                                alt="Cotton T-shirt">
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                            <h3 class="text-muted">{{p.name}}</h3>
                                                            <h3 class="text-black mb-0">Panel</h3>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                            <button class="btn btn-link px-2">
                                                                <i class="fas fa-minus"></i>
                                                            </button>

                                                            <input (click)="summarize()" id="form1" min="1"
                                                                name="quantity" [(ngModel)]="p.count" type="number"
                                                                class="form-control form-control-sm" />

                                                            <button class="btn btn-link px-2">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                            <h3 class="mb-0">{{p.count*p.prize}} Kč</h3>
                                                        </div>
                                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                            <a href="#!" class="text-muted"><i
                                                                    class="fas fa-times"></i></a>
                                                            <button class="btn btn-primary plus"
                                                                (click)="removeFromCart(p)"><i
                                                                    class="bi bi-trash3"></i></button>
                                                        </div>

                                                    </div>
                                                    <hr class="my-4">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-grey" *ngIf="cart.length!=0 && expanded">
                                        <div class="p-5">
                                            <h2 class="fw-bold mb-5 mt-2 pt-1">Souhrn</h2>
                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-4">
                                                <h3 class="text-uppercase">položky: {{cart.length}}</h3>
                                                <h3>Kč {{totalPrize}}</h3>

                                            </div>
                                            <div *ngIf="cart.length!=0" class="center">
                                                <button class="btn btn-primary" (click)="toOrderForm()">
                                                    K objednání</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="input-group mb-4 mt-100">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search click"></i></span>
        </div>
        <input #input type="text" (keyup)="search(input.value)" class="form-control" placeholder="Název produktu.."
            aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <hr>

    <div class="row">
        <div *ngFor="let product of products" class="col-md-4 col-sm-6 mb-30">
            <div class="card mb-30 shadow"><a class="card-img-tiles" href="#" data-abc="true">
                    <div style="background-color: #4fbdc5; border-top-right-radius: 25px;border-top-left-radius: 25px;">
                        <mat-icon
                            style="margin-left: 20px; margin-right: 2px; margin-top: 10px; color: #f84343">fitness_center</mat-icon>
                        <mat-icon style="margin-right: 2px; color: #9deb78">health_and_safety</mat-icon>
                        <mat-icon style="margin-right: 2px; color: #250fee">spa</mat-icon>
                    </div>
                    <div class="inner" style="height: 300px;">
                        <div class="main-img"><img src={{product.url}} alt="Category"></div>                        
                    </div>
                </a>
                <div class="card-body text-center nuovo-bg"
                    style="border-top-right-radius: 0%; border-top-left-radius: 0%;">
                    <h2 class="card-title">{{product.name}}</h2>
                    <p class="text-wrap">Panel který je super</p>
                    <p><strong>{{product.prize}} Kč</strong></p>
                    <button *ngIf="!checkCart(product.name)" class="btn btn-outline-primary"
                        (click)="addToCart(product)"><i class="bi bi-cart-plus"></i></button>
                    <div class="d-flex pb-2 flexor" style="margin-top: 10px;">
                        <button class="btn btn-primary btn-sm" (click)=" decreasePcs(product)"
                            style=" height: 30px; border-radius: 100%;margin-right: 20px;"> <i
                                class="bi bi-dash"></i></button>
                        <p style="padding-top: 5px"><strong>{{product.count}}</strong></p>
                        <button class="btn btn-primary btn-sm" (click)="increasePcs(product)"
                            style="height: 30px;  border-radius: 100%;margin-left: 20px;"> <i
                                class="bi bi-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" @faderight *ngIf="!loading && toOrder">
    <button (click)="toOrderForm()" class="btn btn-primary plus"><i class="bi bi-arrow-left"></i></button>
    <h1>Kontaktní údaje</h1>
    <form #f="ngForm" (ngSubmit)="createOrder(f.value)">
        <div class="mb-3">
            <label for="FullName" class="form-label">Celé Jméno</label>
            <input required maxlength="50" [(ngModel)]="user.FullName" name="FullName" #FullName="ngModel" type="text"
                class="form-control">
            <div *ngIf="FullName.touched && !FullName.valid" class="alert alert-danger">Prosím zadejte celé své jméno.
            </div>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input required maxlength="50" [(ngModel)]="user.Email" name="Email" #Email="ngModel" type="email"
                class="form-control">
            <div *ngIf="Email.touched && !Email.valid" class="alert alert-danger">Prosím zadejte email.</div>
        </div>
        <div class="mb-3">
            <label for="Phone" class="form-label">Číslo</label>
            <input required maxlength="50" [(ngModel)]="user.Phone" name="Phone" #Phone="ngModel" type="text"
                class="form-control">
            <div *ngIf="Phone.touched && !Phone.valid" class="alert alert-danger">Prosím zadejte tel.číslo.</div>
        </div>
        <div class="mb-3">
            <label for="Country" class="form-label">Země</label>
            <input required maxlength="50" [(ngModel)]="user.Country" name="Country" #Country="ngModel" type="text"
                class="form-control">
            <div *ngIf="Country.touched && !Country.valid" class="alert alert-danger">Prosím zadejte zemi.</div>
        </div>
        <div class="mb-3">
            <label for="Adress" class="form-label">Adresa</label>
            <input required maxlength="50" [(ngModel)]="user.Adress" name="Adress" #Adress="ngModel" type="text"
                class="form-control">
            <div *ngIf="Adress.touched && !Adress.valid" class="alert alert-danger">Prosím zadejte pozici.</div>
        </div>
        <hr>
        <div>
            <div class="col-lg-4 bg-grey">
                <div class="p-5">
                    <h2 class="fw-bold mb-5 mt-2 pt-1">Souhrn</h2>
                    <ul>
                        <li *ngFor="let p of cart">
                            {{p.count}}X {{p.name}}
                        </li>
                    </ul>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-4">
                        <h3 class="text-uppercase">položky: {{cart.length}}</h3>
                        <h3>Kč {{totalPrize}}</h3>

                    </div>

                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary marg" (click)="createOrder(f.value)"
                style="margin-bottom: 50px;">Objednat</button>
        </div>

    </form>

</div>
<div *ngIf="!loading && finishedOrder">
    <h1>Děkujeme za Vaši obejdnávku! <i class="bi bi-emoji-smile"></i></h1>
    <h2 class="text-muted">Vše co nejrychleji zpracujeme - o odeslání Vás budeme informovat.</h2>
    <div>
        <section class="h-100 h-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <div class="card card-registration card-registration-2 shadow" style="border-radius: 25px;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-8">
                                        <div class="p-5">
                                            <div class="d-flex justify-content-between align-items-center mb-5">
                                                <h1 class="fw-bold mb-0 text-black" (click)="switch()">Objednávka #{{orderNumber}}
                                                </h1>
                                            </div>
                                            <div>
                                                <div *ngFor="let p of cart" class="cart-item">
                                                    <hr class="my-4">
                                                    <div
                                                        class="row mb-4 d-flex justify-content-between align-items-center">
                                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                                            <img src={{p.url}} class="img-fluid rounded-3">
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                            <h3 class="text-muted">{{p.name}}</h3>
                                                            <h3 class="text-black mb-0">Panel</h3>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                            <button class="btn btn-link px-2">
                                                                <i class="fas fa-minus"></i>
                                                            </button>

                                                            <input disabled id="form1" min="1" name="quantity"
                                                                [(ngModel)]="p.count" type="number"
                                                                class="form-control form-control-sm" />

                                                        </div>
                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                            <h3 class="mb-0">{{p.count*p.prize}} Kč</h3>
                                                        </div>


                                                    </div>
                                                    <hr class="my-4">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-grey" *ngIf="cart.length!=0 && expanded">
                                        <div class="p-5">
                                            <h2 class="fw-bold mb-5 mt-2 pt-1">Souhrn</h2>
                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-4">
                                                <h3 class="text-uppercase">položky: {{cart.length}}</h3>
                                                <h3>Kč {{totalPrize}}</h3>

                                            </div>
                                            <div *ngIf="cart.length!=0" class="center">
                                                <button class="btn btn-primary" [routerLink]="['']">Zpět domů</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>