/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "~bootstrap-icons/font/bootstrap-icons.css";

footer {
  height: 45px;
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.shadow {
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.plus {
  margin: 20px;
  border-radius: 100%;
}

.plus:hover {
  transform: scale(1.1);
}

.sizeup:hover {
  transform: scale(1.1);
}

.nuovo-bg {
  background: #ef7e84;
  border-radius: 25px;
  padding: 30px;
  border-radius: 25px;
  border: 0px;
}
.btn-primary{  
    background-color: #273358;  
}
.btn-primary:hover{
  background-color: #ef7e84
}
.btn-outline-primary{  
  color: #273358;
  border-color: #273358;  
}
.btn-outline-primary:hover{  
  background-color: #4fbdc5;
  color: white;  
}