<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">        
            <button [routerLink]="['new/0']" class="btn btn-primary plus"><i class="bi bi-plus"></i></button>          
        <div class="row">
            <div class="col-lg-4" *ngFor="let user of users">
                <div class="text-center card-box nuovo-bg shadow">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img
                                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h2>{{user.fullName}}</h2>
                            <p class="text-muted">{{user.role}}
                        </div>        
                        <div class="">
                            <h4>{{user.country}} {{user.adress}}</h4>
                            
                        </div>                
                        <div >
                            <button type="button"
                                class="btn btn-primary m-2 btn-rounded waves-effect w-md waves-light">Upravit</button>
                            <button type="button"
                                class="btn btn-primary btn-rounded waves-effect w-md waves-light">Smazat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>