<div class="marg">
    <h1><i [routerLink]="['/partners']" (mouseenter)="switch()" (mouseleave)="switch()" class="bi pointer"
            [class.bi-arrow-left-square]="!hover" [class.bi-arrow-left-square-fill]="hover"></i></h1>
    <h2>Nový Partner</h2>
    <div *ngIf="invalidPasswords" class="alert alert-danger">Hesla se neschodují.</div>
    <form #f="ngForm" (ngSubmit)="submit(f)">
        <div class="mb-3">
            <label for="name" class="form-label">Jméno</label>
            <input required maxlength="50" [(ngModel)]="partner.name" name="name" #name="ngModel" type="text"
                class="form-control">
            <div *ngIf="name.touched && !name.valid" class="alert alert-danger">Prosím zadejte jméno.</div>
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Příjmení</label>
            <input required maxlength="50" [(ngModel)]="partner.surname" name="surname" #surname="ngModel" type="text"
                class="form-control">
            <div *ngIf="surname.touched && !surname.valid" class="alert alert-danger">Prosím zadejte příjmení.</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input required maxlength="50" [(ngModel)]="partner.email" name="email" #email="ngModel" type="email"
                class="form-control">
            <div *ngIf="email.touched && !email.valid" class="alert alert-danger">Prosím zadejte email.</div>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Číslo</label>
            <input required maxlength="50" [(ngModel)]="partner.phone" name="phone" #phone="ngModel" type="text"
                class="form-control">
            <div *ngIf="phone.touched && !phone.valid" class="alert alert-danger">Prosím zadejte tel.číslo.</div>
        </div>
        <div class="mb-3">
            <label for="adress" class="form-label">Adresa</label>
            <input required maxlength="50" [(ngModel)]="partner.adress" name="adress" #adress="ngModel" type="text"
                class="form-control">
            <div *ngIf="adress.touched && !adress.valid" class="alert alert-danger">Prosím zadejte pozici.</div>
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">Pozice</label>
            <input required maxlength="50" [(ngModel)]="partner.position" name="position" #position="ngModel"
                type="text" class="form-control">
            <div *ngIf="position.touched && !position.valid" class="alert alert-danger">Prosím zadejte pozici.</div>
        </div>
        <div>
            <div class="mb-3">
                <label for="lead" class="form-label">Lead</label>
                <div *ngIf="lead.touched && !lead.valid" class="alert alert-danger">Prosím zadejte Lead osobu.</div>
                <select [disabled]="id!=0" #lead="ngModel" name="partnerId" id="partner" class="form-control"
                    [(ngModel)]="partner.leadId">
                    <option *ngFor="let p of partners" value="{{p.id}}">{{p.name}} {{p.surname}}</option>
                </select>
                <div *ngIf="id!=0" class="alert alert-primary mt-1" style="width: 400px;">Lead nelze upravit - v případě
                    potřeby kontaktujte správce</div>
                <div *ngIf="id==0" class="alert alert-warning mt-1" style="width: 400px;">Pozor Lead nelze později
                    změnit!</div>
            </div>
        </div>
        <div *ngIf="partner.id==0">
            <p>Chcete založit i uživatelský účet?</p>
            <mat-radio-group [(ngModel)]="isPartner" name="select" aria-label="Select an option">
                <mat-radio-button [value]="true">Ano</mat-radio-button>
                <mat-radio-button [value]="false">Ne</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="isPartner">
            <h2>Informace Partnera</h2>
            <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select #role="ngModel" name="role" id="partner" class="form-control" [(ngModel)]="user.role">
                    <option value="admin">admin</option>
                    <option value="obchodní zástupce">obchodní zástupce</option>
                </select>
                <div *ngIf="role.touched && !role.valid" class="alert alert-danger">Prosím zadejte jméno.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Heslo</label>
                <input required maxlength="50" [(ngModel)]="user.password" name="password" #password="ngModel"
                    type="password" class="form-control">
                <div *ngIf="password.touched && !password.valid" class="alert alert-danger">Prosím zadejte
                    heslo.</div>
            </div>
            <div class="mb-3">
                <label for="passwordRepeat" class="form-label">Potvrdit heslo</label>
                <input required maxlength="50" [(ngModel)]="user.passwordRepeat" name="passwordRepeat"
                    #passwordRepeat="ngModel" type="password" class="form-control">
                <div *ngIf="passwordRepeat.touched && !passwordRepeat.valid" class="alert alert-danger">Prosím zadejte
                    heslo.</div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary marg">Uložit</button>
        </div>

    </form>
</div>