<div>
    <h1 class="font-weight-bold mt-0">Objednávky</h1>
    <button class="btn btn-primary mb-4" *ngIf="ordersSwitch" (click)="switch()" style="width: 100px;">Vše</button>
    <button class="btn btn-outline-primary mb-4" *ngIf="!ordersSwitch" (click)="switch()"
        style="width: 100px;">Nové</button>

</div>
<div *ngIf="!ordersSwitch" class="container">
    <div class="col-md-9">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <div *ngFor="let o of newOrders" class="bg-white card mb-4 order-list shadow-sm" style="border-radius: 25px;">
                    <div class="gold-members p-4">                       
                        <div  class="media">
                            <div  class="media-body">
                                <h2>{{o.fullName}}</h2>
                                <h4 class="text-muted">Objednáno dne:{{o.placedOn}}</h4>
                                <div>
                                    <h2>Adresa:</h2>
                                    <p class="text-gray mb-1 text-wrap"><i class="icofont-location-arrow"></i>{{o.adress}}
                                    </p>
                                </div>
                                                               
                                <ul>
                                    <li *ngFor="let i of toList(o.orderList)">{{i}}</li>
                                </ul>
                                <hr>
                                <div class="float-right">
                                    <button class="btn btn-primary">Expedovat</button>
                                </div>
                                <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold">
                                        Celkem:</span> {{o.totalPrize}} Kč
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="ordersSwitch">
    <div class="list-group">
        <a *ngFor="let o of orders" href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h2 class="mb-1">{{o.fullName}}</h2>
                <p class="text-muted">{{o.placedOn}}</p>
            </div>
            <p class="text-muted">{{o.orderList}}</p>
            <small>{{o.totalPrize}} Kč</small>
        </a>
    </div>
</div>