body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#monthly {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}
#monthly tbody td {
  margin-inline-start: 10px;
  margin-inline-end: 20px;
  box-shadow:
    1px -1px 1px lightgrey,
    2px -2px 1px lightgrey,
    3px -3px 1px lightgrey,
    4px -4px 1px lightgrey,
    5px -5px 1px lightgrey,
    6px -6px 1px lightgrey,
    7px -7px 1px lightgrey,
    8px -8px 1px lightgrey,
    9px -9px 1px lightgrey,
    10px -10px 1px lightgrey;
}
#monthly tbody {
  overflow-y: hidden; /* remove this to see how it works */
}
#monthly tbody th {
  background-color: #fff;
  z-index: 1;
}
#monthly tbody td {
  animation: moving-bars 4s 1;
}
@keyframes moving-bars {
  0%  { transform: translateY( 100% ); }
  15% { transform: translateY( 0 ); }
}
.card-nv{
  border-radius: 25px;
  padding: 25px;
}