<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Zástupce..." aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="list-group w-auto">
  <a *ngFor="let p of partners" [routerLink]="['/partners/',p.id]" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">{{p.name}} {{p.surname}}</h6>
        <p class="mb-0 opacity-75">{{p.position}} {{p.adress}}</p>
      </div>
      <small class="opacity-50 text-nowrap">{{p.level}}.level</small>
    </div>
  </a>
 
</div>