<div style="padding-bottom: 10vh;">
  <div class="text-center marg">
    <img src="assets/logo.png" class="mt-2" width="140" height="50">
    <div class="mt-2">
      <p class="display-4">Vítejte v BMS</p>
      <p class="lead">
        Partnerském portálu pro NuovoTherapy s.r.o
      </p>
    </div>

  </div>


  <div *ngIf="!this.service.isLoggedIn()" class="text-center marg">
    <h4>Pro využívání funkcí je třeba se přihlásit.</h4>
    <app-login></app-login>
  </div>

  <div *ngIf="this.service.isLoggedIn()&& user.Role=='admin'" class="row card-style shadow" @fadeIn>
    <div class="col-lg-4 text-center">
      <img src="assets/img_avatar.png" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

      <h2>Partneři</h2>
      <p class="lead">Slouží k evidenci obchodních zástupců a kalkulace jejich podílů.</p>
      <p><a class="btn btn-primary" [routerLink]="['/partners']">Více »</a></p>
    </div>

    <div class="col-lg-4 text-center">
      <img src="assets/cart.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      <h2>Produkty</h2>
      <p class="lead">Evidence kmenových dat produktů, slev a podílů.</p>
      <p><a class="btn btn-primary " [routerLink]="['/products']">Více »</a></p>
    </div>

    <div class="col-lg-4 text-center">
      <img src="assets/bag.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
        preserveAspectRatio="xMidYMid slice" focusable="false">


      <h2>Obchod</h2>
      <p class="lead">Objednávkový portál pro partnery</p>
      <p><a class="btn btn-primary" href="#">Více »</a></p>
    </div>
  </div>

  <div *ngIf="this.service.isLoggedIn()&& user.Role!='admin'">
    <div>
      <div (click)="toShop()" class="parent container">
        <div class="one sizeup br-color" style="height: 300px;">
          <div style=" display: flex; flex-direction: row; text-align: center; padding-top: 40px; width: 80%;">
            <p class="mob display-4">Obchod <i class="bi bi-basket"></i></p>
          </div>
        </div>

        <div (click)="toOrders()" class="two sizeup br-color-oposite" style="height: 300px; text-align: center;">
          <div class=""
            style=" display: flex; flex-direction: row; text-align: center; padding-top: 150px; width: 80%;">
            <p class="mob mob2 display-4">Objednávky <i class="bi bi-card-checklist"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 40vh;" class="container px-4 py-5 parent" id="custom-cards">
    <div class="pb-2 border-bottom">
      <button class="btn btn-primary" (click)="slidePromo()">Promo</button>
      <button class="btn btn-outline-primary" (click)="slidePromo()">Co je nového?</button>
    </div>

    <div >
      <div [@fadeSideLeft] *ngIf="!promo" class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5"
        style="height: 500px;">
        <div class="col">
          <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow sizeup"
            style="background-position: center center;height: 400px;background-size: cover;background-image: url('https://shop.nuovotherapy.cz/eshop/products/0/44/thumb/dsc-0451-shop.jpg');">
            <div class="d-flex flex-column text-white new-card">
              <h1 style="margin: 0px;">Nová řada pulse</h1>
              <p class="text-wrap"> Ještě lepší terapie červeným světlem!</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow sizeup"
            style="background-position: center center;height: 400px;background-size:cover;background-image: url('https://shop.nuovotherapy.cz/eshop/products/0/44/thumb/dsc-0451-shop.jpg');">
            <div class="d-flex flex-column text-white new-card">
              <h1 style="margin: 0px;">Vyber si barvu</h1>
              <p class="text-wrap"> Nově je možné objednat panel s vlastní barvou!</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow sizeup click"
            style="background-position: center center;height: 400px;background-size: cover;background-image: url('https://shop.nuovotherapy.cz/eshop/products/0/42/thumb/dsc-0397-mala-0-25x.jpg');">
            <div class="d-flex flex-column text-white new-card">
              <h1 style="margin: 0px;">Komfort nadevše</h1>
              <p class="text-wrap"> Nový elektrický stojan pro naročné!</p>
            </div>
          </div>
        </div>
      </div>
      <div [@fadeSideRight] *ngIf=" promo" class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5"
        style="height: 500px;">
        <div class="col">
          <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow sizeup"
            style="background-position: center center;height: 400px;background-size: cover;background-image: url('');">
            <div class="d-flex flex-column text-white new-card">
              <h1 style="margin: 0px;">Nová řada pulse</h1>
              <p class="text-wrap"> Ještě lepší terapie červeným světlem!</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow sizeup"
            style="background-position: center center;height: 400px;background-size:cover;background-image: url('https://shop.nuovotherapy.cz/eshop/products/0/44/thumb/dsc-0451-shop.jpg');">
            <div class="d-flex flex-column text-white new-card">
              <h1 style="margin: 0px;">Vyber si barvu</h1>
              <p class="text-wrap"> Nově je možné objednat panel s vlastní barvou!</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow sizeup click"
            style="background-position: center center;height: 400px;background-size: cover;background-image: url('https://shop.nuovotherapy.cz/eshop/products/0/42/thumb/dsc-0397-mala-0-25x.jpg');">
            <div class="d-flex flex-column text-white new-card">
              <h1 style="margin: 0px;">Komfort nadevše</h1>
              <p class="text-wrap"> Nový elektrický stojan pro naročné!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>