<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <img class="resize" src="assets/logo.png">
    <div class="container">

      <a class="navbar-brand sizeup" [routerLink]="['/']">BMS</a>

      
      <div class="prof">
        <button type="button" class="btn btn-light" style="margin-right: 30px;"><i class="bi bi-bell"></i> 9</button>
        <div class="prof" *ngIf="service.isLoggedIn()&&user">
          <div class="prof">            
            <p class="text-prof">Vítej, {{user.Email}}!</p>                   
          </div>
        </div>

        <button *ngIf="service.isLoggedIn()"data-mdb-toggle="sidenav" [matMenuTriggerFor]="menu"
          class="btn btn-primary" aria-haspopup="true" aria-expanded="false" style="height: 37px;">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['']">
            <mat-icon>home</mat-icon>
            <span>Domů</span>
          </button>
          <button *ngIf="user.Role=='admin'" mat-menu-item [routerLink]="['/partners']">
            <mat-icon>handshake</mat-icon>
            <span>Partneři</span>
          </button>
          <button *ngIf="user.Role=='admin'" mat-menu-item [routerLink]="['/products']">
            <mat-icon>category</mat-icon>
            <span>Produkty</span>
          </button>
          <button mat-menu-item [routerLink]="['/shop']">
            <mat-icon>shopping_cart</mat-icon>
            <span>Obchod</span>
          </button>
          <button *ngIf="user.Role=='admin'" mat-menu-item [routerLink]="['/orders']">
            <mat-icon>local_shipping</mat-icon>
            <span>Expedice</span>
          </button> 
          <button *ngIf="user.Role=='admin'" mat-menu-item [routerLink]="['/dashboard']">
            <mat-icon>equalizer</mat-icon>
            <span>Dashboard</span>
          </button>          
          <button mat-menu-item [routerLink]="['/user']">
            <mat-icon>account_circle</mat-icon>
            <span>Profil</span>
          </button>
          <button (click)="logOut()" mat-menu-item [routerLink]="['']">
            <mat-icon>logout</mat-icon>
            <span>Odhlásit</span>
          </button>

        </mat-menu>
      </div>
    </div>
  </nav>
</header>