<h1>Produkty - kmenové data</h1>
<button [routerLink]="['new/0']" class="btn btn-primary plus"><i class="bi bi-plus"></i></button>

<div class="row card mb-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Produkt</th>
        <th scope="col">Pr.Nr.</th>
        <th scope="col">Cena</th>
        <th scope="col">Podíl v %</th>
        <th scope="col">Skok v %</th>

      </tr>
    </thead>
    <tbody>
      <tr class="point" [routerLink]="['new/'+ p.id]" *ngFor="let p of products">
        <td>{{p.name}}</td>
        <td>{{p.productCode}}</td>
        <td>{{p.prize}}</td>
        <td>{{p.discount}}</td>
        <td>{{p.discountStep}}</td>
        <td><a class="btn btn-primary" (click)="DeleteProduct(p.id)">Smazat</a></td>
      </tr>
    </tbody>
  </table>
</div>